#title{
  color: #fff;
  background-color: #24a19c;
}

.navbar{
  padding: 3% 10%;
  /* position:relative; */
}

.heading1{
  font-family: serif;
  font-weight: bolder;
  font-size: 70px;
  padding-left: 20%;
  padding-top: 10%
}
.heading2{
  font-family: serif;
  font-weight: bolder;
  font-size: 30px;
  padding-left: 20%;
}
.sapimg{
  text-align: center;
  padding: 3% 5%;
  width: 100%;
}
.dotline{
  width: 5%;
padding : 2% 1%;
}

#services{
  font-family: sans-serif;
  color: #888888;
  text-align: center;
  padding: 3% 20%;
}

.row{
  padding: 3% 3%;
}
.servimg{
  width: 70%;
  border-radius: 90%;
}

.ltext{
  font-family: serif;
  font-weight: bolder;
  text-align: left;
  color: #888888;
  padding-top: 5%
}
.ptext{
  text-align: left;
  font-family: serif;
  color: #888888;
}
.rtext{
  font-family: serif;
  font-weight: bolder;
  text-align: left;
  color: #888888;
  padding-top: 5%;
}
/*
.servhead{
  font-family: serif;
  font-weight: bolder;
  padding : 3% 3%;
  color: #888888;
}





.col-sm-6{
  padding : 3% 3%;
} */

#contact{
  padding: 1% 5%;
  text-align: center;
  background-color: #24a19c;
}


.tabs{
  color: black;
  }
.copyright{
  font-family: serif;
  text-align: center;
  font-size: 11px;
  padding-top: 2%;
  }
